.footer-container {
    background-color: var(--text-color);
    width: 100%;
    padding: 2%;
    margin-top: 40px;
}
.footer-icon {
    color: #fff;
}
.footer-icon:hover {
    color: var(--accent-color);
    transition: 0.4s ease-out;
}

/* responsiveness */
@media screen and (max-width: 514px) {
    .footer-container {
        flex-direction: column;
        /* margin: 10px; */
    }
    .links {
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {
     .footer-container {
        flex-direction: column;
        /* margin: 10px; */
    }
}
@media screen and (max-width: 992px) {
     .footer-container {
        flex-direction: column;
        /* margin: 10px; */
    }
}